body{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    font-family: "Ubuntu Sans";
    background: #e8e2db;
    
}

.home-cont{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    background: #31473A;
    gap: 10px;
}

.title-cont{
    display: flex;
    width: 50%;
    height: 706px;
    padding-left: 125px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
}

.prof-cont {
    display: flex;
    width: 154px;
    height: 154px;
    justify-content: center;
    align-items: center;
    border-radius: 17px;
    overflow: hidden;
}

.profile{
    margin-top: 38px;
    width: 154px;
    height: 198px;
    flex-shrink: 0;
    aspect-ratio: 7/9;
}

.title{
    max-width: 381px;
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.bg-img-cont{
    display: flex;
    width: 50%;
    height: 100vh;
    overflow: hidden;
    justify-content: start;
}

.bg-img{
    height: 100%;
    width: 100%;
    min-width: 896px;
    aspect-ratio: 448/597;
    opacity: 0.6;
    object-fit: cover;
}

.desc-cont{
    display: flex;
    padding: 20px 110px 0px 125px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    align-self: stretch;
}

.desc{    
    color: #31473A;
    font-family: "Lexend";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: start;
    white-space: pre-line;    
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 201px;
    height: 35px;
    border-radius: 10px;
    background: #31473A;
    color: #e8e2db;
    font-family: Lexend;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.works-cont, .articles-cont{
    display: flex;
    padding: 90px 125px;
    flex-direction: column;
    gap: 40px;
}

.works-title, .articles-title{
    color: #31473A;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.grid {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.grid-item {
    margin-bottom: 45px;
    width: 376px;
    height: min-content;
    border-radius: 50px;
    background: #ffffff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.project-title, .article-title{
    display: flex;
    padding: 40px 39px 20px 39px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    color: #31473A;
    font-family: "Ubuntu Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    word-break: break-word;
    overflow-wrap: break-word;
}

.project-desc, .article-desc{
    display: flex;
    padding: 0px 39px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    color: #31473A;
    font-family: "Ubuntu Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.project-logo-cont, .article-logo-cont{
    display: flex;
    height: 109px;
    padding: 16px 0px 13px 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    align-self: stretch;
}

.gitlogo, .mediumlogo{
    width: 35px;
    height: 35px;
    aspect-ratio: 1/1;
}

.inlogo{
    width: 35px;
}


.footer{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .home-cont{
        background-image: url("assets/images/20230819_113128.jpg");
        background-size: auto 140%; /* Ensures the image covers the entire container */
        background-position: left 45% top 3%; /* Centers the image */
        background-repeat: no-repeat; /* Prevents repeating */
        background-color: rgba(49, 71, 58, 1);
        background-blend-mode: lighten;
    
    }


    
    .bg-img-cont{
        display: none;
    }
    
    .title-cont{
        width: 100%;
        padding: 0px 25px 0px 25px;
        justify-content: center;
        align-items: flex-start;
    }


    .desc-cont{
        padding: 20px 25px 0px 25px;
    }    

    .works-cont, .articles-cont{
        padding: 55px 25px 0px 25px;
    }
    
    
    .grid-item {
        margin-bottom: 45px;
        width: 100%;
    }

  }
  